#header .icon{
    display: none;
}

@media screen and (max-width:1025px)  {
    #header .mobile-nav{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 9999;
        height: 100vh;
        width: 0;
        background: #0095ff;
        padding: 20px;
        visibility: hidden;
        transform-origin: right;
        transition: width 0.3s ease, visibility 0.3s ease;
        overflow: hidden;
    }

    #header .icon{
        display: block;
    }

    #header .open {
        transform-origin: right;
        width: 100%; /* Width when open */
        visibility: visible;
      }
    
    #header .mobile-nav .mobile-nav-items{
        flex-direction: column;
        margin-top: 30%;
    }

    #header .mobile-nav .mobile-nav-items p{
        color: #fff;
    }

    #header .mobile-nav .mobile-nav-items .active{
        color: #fff;
        background-color: #001969;
        width: 100%;
        text-align: center;
        padding: 20px;
        border-radius: 9px;
    }
}