p,h1,h2,h3,h4,h5,h6,button{
    font-family: "Poppins", sans-serif;

}
.img-animation{
    animation: bounce 2s infinite;
}

.img-filter{
    filter: hue-rotate(75deg);
}

@keyframes bounce {
    0% {
     transform: translateY(0);
    }
    50% {
     transform: translateY(-20px);
    }
    100% {
     transform: translateY(0);
    }
   }